@model Gaffgc_App.Models.RegisterViewModel

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="page-body">
    <div class="main-content">

        <div class="vspacer v3"></div>
        <!-- Form wizard with validation starts here -->
        <h3 class="text-gray">
            Genetic Archive Fund Register<br />
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </h3>
        <br />

        <!-- Form wizard with validation starts here -->
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".multi-select").multiSelect({
                    afterInit: function () {
                        // Add alternative scrollbar to list
                        this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar();
                    },
                    afterSelect: function () {
                        // Update scrollbar size
                        this.$selectableContainer.add(this.$selectionContainer).find('.ms-list').perfectScrollbar('update');
                    }
                });

                $(".selectboxit").selectBoxIt().on('open', function () {
                    // Adding Custom Scrollbar
                    $(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
                });
            });</script>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new
        {
            @class = "form-wizard validate",
            role = "forl",
            id = "rootwizard"
        }))
        {
            @Html.AntiForgeryToken()
            <ul class="tabs">
                <li class="active">
                    <a href="#fwv-1" data-toggle="tab">
                        Personal Info
                        <span>1</span>
                    </a>
                </li>
                <li>
                    <a href="#fwv-2" data-toggle="tab">
                        Geographic Details
                        <span>2</span>
                    </a>
                </li>
                <li>
                    <a href="#fwv-3" data-toggle="tab">
                        Education
                        <span>3</span>
                    </a>
                </li>
                <li>
                    <a href="#fwv-4" data-toggle="tab">
                        Skills and Profession
                        <span>4</span>
                    </a>
                </li>
                <li>
                    <a href="#fwv-5" data-toggle="tab">
                        Register
                        <span>5</span>
                    </a>
                </li>
            </ul>

            <div class="progress-indicator">
                <span></span>
            </div>

            <div class="tab-content no-margin">

                <!-- Tabs Content -->
                <div class="tab-pane with-bg active" id="fwv-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-6 no-padding">
                                    <div class="form-group">
                                        <label class="control-label" for="first_name">Name</label>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", name = "first_name", id = "first_name", placeholder = "Your first name" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 no-padding">
                                    <div class="form-group">
                                        <label class="control-label" for="surname_name">Surname</label>
                                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", name = "surname_name", id = "surname_name", placeholder = "Your last name" } })
                                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="Email">Email</label>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "Email", placeholder = "your@emailaddress.domain" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label" for="birthdate">Date of Birth</label>
                                    @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", name = "birthdate", id = "birthdate", placeholder = "Date of Birth" } })
                                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Gender</label>
                                    @Html.DropDownList("Gender", new List<SelectListItem>{
           new SelectListItem{ Text="Male", Value="Male"},
           new SelectListItem{ Text="Female", Value="Female"}
           }, "--- Select ---"   )
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label" for="faith">Faith</label>
                                @Html.EditorFor(model => model.Religion, new { htmlAttributes = new { @class = "form-control", id = "faith", placeholder = "Religion or Faith" } })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label" for="Ethnicity">Ethnicity </label>
                                @Html.EditorFor(model => model.Lineage, new { htmlAttributes = new { @class = "form-control", id = "Ethnicity", placeholder = "Ethnicity" } })
                                @Html.ValidationMessageFor(model => model.Lineage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="language">Primary Language</label>
                                @Html.EditorFor(model => model.Language, new { htmlAttributes = new { @class = "form-control", id = "language", placeholder = "language" } })
                                @Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                </div>

                <div class="tab-pane with-bg" id="fwv-2">

                    <div class="row">

                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label" for="street">Street</label>
                                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control", name = "street", id = "street", placeholder = "Street" } })
                                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="door_no">Adress No.</label>
                                @Html.EditorFor(model => model.AdressNumber, new { htmlAttributes = new { @class = "form-control", name = "door_no", id = "door_no", placeholder = "Address Number" } })
                                @Html.ValidationMessageFor(model => model.AdressNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="address_line_2">Address Line 2</label>
                                @Html.EditorFor(model => model.AdressLine2, new { htmlAttributes = new { @class = "form-control", name = "address_line_2", id = "address_line_2", placeholder = "Address Line 2" } })
                                @Html.ValidationMessageFor(model => model.AdressLine2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" for="city">City</label>
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", name = "city", id = "city", placeholder = "city" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" for="state">State</label>
                                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", name = "state", id = "state", placeholder = "State" } })
                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" for="Country">Country</label>
                                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", name = "Country", id = "Country", placeholder = "Country" } })
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" for="zip">Postcode</label>
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", name = "zip", id = "zip", placeholder = "Postcode" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane with-bg" id="fwv-3">

                    <strong>Educational Details</strong>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="subject">Subject</label>
                                @Html.EditorFor(model => model.subject, new { htmlAttributes = new { @class = "form-control", name = "subject", id = "subject", placeholder = "Graduate Degree" } })
                                @Html.ValidationMessageFor(model => model.subject, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="School">School Name</label>
                                @Html.EditorFor(model => model.SchoolName, new { htmlAttributes = new { @class = "form-control", name = "School", id = "School", placeholder = "School Name" } })
                                @Html.ValidationMessageFor(model => model.SchoolName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="SchoolEndDate">End Date</label>
                                @Html.EditorFor(model => model.SchoolEndDate, new { htmlAttributes = new { @class = "form-control", name = "school_date_end", id = "school_date_end", placeholder = "Date Finished" } })
                                @Html.ValidationMessageFor(model => model.SchoolEndDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="other_qualifications"><strong>Other Qualifications</strong></label>
                                @Html.EditorFor(model => model.Qualifications, new { htmlAttributes = new { @class = "form-control", name = "other_qualifications", id = "other_qualifications", placeholder = "Profession or Skills" } })
                                @Html.ValidationMessageFor(model => model.Qualifications, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                </div>

                <div class="tab-pane with-bg" id="fwv-4">

                    <strong>Skills and Trade</strong>
                    <br />

                    <div class="row">

                        <div class="col-md-1">
                            <label class="control-label">&nbsp;</label>
                            <p class="text-right">
                                <span class="label label-info">1</span>
                            </p>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" for="company1">Company Name</label>
                                @Html.EditorFor(model => model.company, new { htmlAttributes = new { @class = "form-control", name = "company1", id = "company1", placeholder = "Compnay Name" } })
                                @Html.ValidationMessageFor(model => model.company, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="Position1">Job Position</label>
                                @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control", name = "Position1", id = "Position1", placeholder = "Job Role" } })
                                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="JobEndDate1">End Date</label>
                                @Html.EditorFor(model => model.JobEndDate, new { htmlAttributes = new { @class = "form-control", name = "JobEndDate1", id = "JobEndDate1", placeholder = "Date Left" } })
                                @Html.ValidationMessageFor(model => model.JobEndDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-1">
                            <label class="control-label">&nbsp;</label>
                            <p class="text-right">
                                <span class="label label-info">2</span>
                            </p>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" for="company2">Company Name</label>
                                @Html.EditorFor(model => model.company2, new { htmlAttributes = new { @class = "form-control", name = "company2", id = "company2", placeholder = "Company" } })
                                @Html.ValidationMessageFor(model => model.company2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="Position2">Job Position</label>
                                @Html.EditorFor(model => model.Position2, new { htmlAttributes = new { @class = "form-control", name = "Position2", id = "Position2", placeholder = "Position" } })
                                @Html.ValidationMessageFor(model => model.Position2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="JobEndDate2">End Date</label>
                                @Html.EditorFor(model => model.JobEndDate2, new { htmlAttributes = new { @class = "form-control", name = "JobEndDate2", id = "JobEndDate2", placeholder = "Date Left" } })
                                @Html.ValidationMessageFor(model => model.JobEndDate2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane with-bg" id="fwv-5">

                    <div class="form-group">
                        <label class="control-label">Choose Username</label>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="linecons-user"></i>
                            </div>
                            @Html.EditorFor(model => model.UserNameOption, new { htmlAttributes = new { @class = "form-control", name = "UserNameOption", id = "UserNameOption", placeholder = "Optional" } })
                            @Html.ValidationMessageFor(model => model.UserNameOption, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Choose Password</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="linecons-lock"></i>
                                    </div>

                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "password", name = "password", placeholder = "Strong Password" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Repeat Password</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="linecons-lock"></i>
                                    </div>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "ConfirmPassword", name = "ConfirmPassword", placeholder = "Strong Password" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.AcceptedUA, new { htmlAttributes = new { @class = "cbr", name = "chk-rules", id = "chk-rules" } })
                        <label for="chk-rules">By registering I accept terms and conditions.</label>
                        @Html.ValidationMessageFor(model => model.AcceptedUA, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <button id="submitbutton" type="submit" class="btn btn-primary disabled" value="Register">Submit Registration</button>
                    </div>

                </div>


                <!-- Tabs Pager -->

                <ul class="pager wizard">
                    <li class="previous">
                        <a href="#"><i class="entypo-left-open"></i> Previous</a>
                    </li>

                    <li class="next">
                        <a href="#">Next <i class="entypo-right-open"></i></a>
                    </li>
                </ul>

            </div>
        }
    </div>

</body>
</html>