@using Microsoft.AspNet.Identity

<div class="page-title">

    <div class="title-env">
        <h1 class="title">Profile</h1>
        <p class="description">User Archive Information</p>
    </div>

    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="dashboard-1.html"><i class="fa-home"></i>Home</a>
            </li>
            <li>

                <a href="extra-gallery.html">Extra</a>
            </li>
            <li class="active">

                <strong>Profile</strong>
            </li>
        </ol>

    </div>

</div>

<section class="profile-env">

    <div class="row">

        <div class="col-sm-3">

            <!-- User Info Sidebar -->
            <div class="user-info-sidebar">

                <a href="#" class="user-img">
                    <img src="~/assets/images/user-4.png" alt="user-img" class="img-cirlce img-responsive img-thumbnail" />
                </a>

                <a href="#" class="user-name">
                    @Model.Name @Model.Surname
                    <span class="user-status is-online"></span>
                </a>

                <span class="user-title">
                    Registered <strong> @ViewBag.membersince Days Ago</strong>
                </span>

                <hr />

                <ul class="list-unstyled user-info-list">
                    <li>
                        <i class="fa-globe"></i>
                        @Model.Country
                    </li>
                    <li>
                        <i class="fas fa-mars"></i>
                        @Model.Gender
                    </li>
                    <li>
                        <i class="fa-graduation-cap"></i>
                        @Model.Education
                    </li>
                    <li>
                        <i class="fas fa-user-tie"></i>
                        @Model.Profession
                    </li>
                    <li>
                        <i class="fa-language"></i>
                        @Model.Language
                    </li>
                    <li>
                        <i class="fa-flag"></i>
                        @Model.Country
                    </li>
                    <li>
                        <i class="fas fa-place-of-worship"></i>
                        @Model.Religion
                    </li>
                </ul>

                <hr />

                <ul class="list-unstyled user-friends-count">
                    <li>
                        <span>2</span>
                        Matches
                    </li>
                    <li>
                        <span>1</span>
                        Links
                    </li>
                </ul>

                <button type="button" class="btn btn-success btn-block text-left">
                    VERIFIED
                    <i class="fa-check pull-right"></i>
                </button>
            </div>

        </div>

        <div class="col-sm-9">

            <!-- User Post form and Timeline -->
            <form method="post" action="" class="profile-post-form">
                <textarea class="form-control input-unstyled input-lg autogrow" placeholder="What's on your mind?"></textarea>
                <i class="el-edit block-icon"></i>

                <ul class="list-unstyled list-inline form-action-buttons">
                    <li>
                        <button type="button" class="btn btn-unstyled">
                            <i class="el-camera"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-unstyled">
                            <i class="el-attach"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-unstyled">
                            <i class="el-mic"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-unstyled">
                            <i class="el-music"></i>
                        </button>
                    </li>
                </ul>

                <button type="submit" class="btn btn-single btn-xs btn-success post-story-button">Post</button>
            </form>


            <!-- User timeline stories -->
            <section class="user-timeline-stories">

                <!-- Timeline Story Type: Status -->
                <article class="timeline-story">

                    <i class="fa-paper-plane-empty block-icon"></i>

                    <!-- User info -->
                    <header>

                        <a href="#" class="user-img">
                            <img src="~/assets/images/user-4.png" alt="user-img" class="img-responsive img-circle" />
                        </a>

                        <div class="user-details">
                            <a href="#">@Model.Name @Model.Surname</a> Activity <a href="#">update</a>.
                            <time>12 hours ago</time>
                        </div>

                    </header>                

                </article>
             

                <!-- Timeline Story Type: Check-in -->
                <article class="timeline-story">

                    <i class="fa-pin block-icon"></i>

                    <!-- User info -->
                    <header>

                        <a href="#" class="user-img">
                            <img src="~/assets/images/user-4.png" alt="user-img" class="img-responsive img-circle" />
                        </a>

                        <div class="user-details">
                            <a href="#">@Model.Name @Model.Surname</a> DNA created from <a href="#">Location</a>.
                            <time>1 day ago</time>
                        </div>

                    </header>


                    <div class="story-content">

                        <div class="story-checkin">
                            <div id="sample-checkin" class="map-checkin" style="height: 180px; width: 100%;"></div>
                        </div>
                        </div>                     
                  
                </article>
               

            </section>

        </div>

    </div>

</section>


<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCRm3wiXqgc5Cv8nKkXG5vwDWDApP3yrJc"></script>
<script type="text/javascript">
    function initialize() {
        map = new google.maps.Map(document.getElementById('sample-checkin'), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8
        });
    };

    google.maps.event.addDomListener(window, 'load', initialize);
</script>